.PhoneInputInput {
   
    
    height: 40px;
    border-radius: 5px;
   
    border: 1px solid rgba(20, 18, 18, 0.966);
    margin-left: 2px;

    resize: none;
    background: #EEEEEE;
    border: 0.5px solid #9e9e9e;


}




